.accepted{
  &__list{
    >li{
      color: #262626;
      span{
        color: rgba(#262626,.6);
      }
    }
  }
  &__title1{
    color: #262626;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }
  &__title2{
    color: #2B9ED6;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  &__title3{
    color: #262626;
    font-size: 16px;
  }
  &__coverImg{
    border-radius: 5px;
  }
  &__btn{
    font-weight: 500;
    padding: 0 10px;
    background: #10AA32;
    border-radius: 4.15456px;
    text-transform: inherit;
    &:hover{
      background: rgba(#10AA32,.8);
    }
  }
  &__box1{
    border-radius: 4px;
    background: #EEEEEE;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1.71;
    strong{
      color: #262626;
    }
  }
  &__txtImg{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }
  &__boxChat{
    background: #F8F8F8;
    border: 1px solid #EAEAEA;
    &__title{
      background: #074563;
      color: #fff;
      display: inline-flex;
      padding: 0 15px;
      min-height: 40px;
      align-items: center;
    }
    &__input{
      border-color: rgba(0, 0, 0, 0.2);
      color: rgba(38, 38, 38, 0.6);
      font-size: 14px;
    }
    &__name{
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 8px;
      padding-left: 20px;
    }
    &__chat{
      display: inline-flex;
      min-height: 40px;
      align-items: center;
      background: #EAEAEA;
      padding: 0 20px;
      color: #262626;
      font-size: 16px;
      .uk-flex-right &{
        background: #2B9ED6;
        color: #fff;
      }
    }
  }
  &__tab{
    >li{
      >a{
        justify-content: center;
        background: #7FBDDB !important;
        min-height: 48px;
        color: #fff !important;
        border-radius: 4px;
      }
      &.uk-active{
        >a{
          background: #0E6D9B !important;
        }
      }
    }
  }
  &__review{
    &__box{
      background: #FFFFFF;
      /* Blue */

      border: 1px solid #2B9ED6;
      border-radius: 8px;
    }
    &__input{
      border: 1px solid #CACACA;
      border-radius: 8px;
      color: rgba(38, 38, 38, 0.8);
      font-size: 14px;
    }
  }
  &__box2{
    background: #F1F1F1;
    border-radius: 8px;
    &__radio{
      display: none;
    }
    &__label{
      cursor: pointer;
      background: #FFFFFF;
      border-radius: 4px;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-weight: 500;
      .accepted__box2__radio:checked ~ &{
        background: #2B9ED6;
        color: #fff;
      }
    }
    &__txt{
      color: #000000;
    }
    &__input{
      border: 1px solid #2B9ED6;
      border-radius: 4px;
    }
  }
  &__table{
    tr{
      th,td{
        font-size: 14px;
        font-weight: 500;
        &:not(:first-child){
          text-align: center;
        }
      }
      th{
        color: rgba(0, 0, 0, 0.6);
      }
      td{
        color: #262626;
      }
    }
  }
}