.floorplansredraw{
  &__title{
    @extend .home__sendPhoto__title;
    padding-bottom: 0;
    margin-top: 20px;
    &:before{
      display: none;
    }
  }
  &__label{
    color: #262626;
    line-height: 1;
    font-weight: 500;
    font-size: 20px;
    @include fluidx(20px,19px,font-size);
  }
  &__txt{
    color: rgba(38, 38, 38, 0.6);
    line-height: 1;
    font-size: 16px;
  }
  &__price{
    color: #DE1818;
    font-weight: 600;
    font-size: 20px;
    @include fluidx(20px,19px,font-size);
    line-height: 1;
  }
  &__name{
    color: #262626;
    font-size: 16px;
    line-height: 1;
  }
}