.gallery{
  &__title{
    color: #262626;
    line-height: 1;
    //font-size: 60px;
    @include fluidx(60px,51px,font-size);
    font-weight: 600;
  }
  &__coverImg{
    &__overlay{
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.67) 32.75%, rgba(0, 0, 0, 0) 100%);
    }
    &__title{
      font-size: 32px;
      font-weight: 600;
      line-height: 1;
      color: #fff;
    }
    &__desc{
      font-size: 16px;
      line-height: 1.75;
    }
  }
}