.home{
  &__sendPhoto{
    &__card{
      border-radius: 8px;
    }
    &__box{
      padding: 24px;
      box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
    }
    &__titleSmall{
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      color: rgba(38, 38, 38, 0.6);
    }
    &__title{
      color: #262626;
      line-height: 1.5;
      //font-size: 40px;
      @include fluidx(40px,33px,font-size);
      font-weight: 600;
      padding-bottom: 28px;
      position: relative;
      &:before{
        content: "";
        background: #363636;
        width: 120px;
        height: 2px;
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    &__placeholder{
      background: #EEEEEE;
      border: 2.4px dashed #BDBDBD;
      &__txt{
        color: rgba(0, 0, 0, 0.6);
        //font-size: 17px;
        @include fluidx(17px,15px,font-size);
        line-height: 1;
      }
    }
    &__itemPhoto{
      box-shadow: 0px 0.986667px 7.89333px rgba(0, 0, 0, 0.12);
      .uk-close{
        --uk-position-margin-offset: 8px;
        margin: var(--uk-position-margin-offset);
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_337_3739)'%3E%3Cpath d='M9.10667 18.8974C4.08519 18.8974 0 14.8122 0 9.79075C0 4.76927 4.08519 0.684082 9.10667 0.684082C14.1281 0.684082 18.2133 4.76927 18.2133 9.79075C18.2133 14.8122 14.1281 18.8974 9.10667 18.8974ZM9.10667 1.98499C4.80262 1.98499 1.30091 5.4867 1.30091 9.79075C1.30091 14.0948 4.80262 17.5965 9.10667 17.5965C13.4107 17.5965 16.9124 14.0948 16.9124 9.79075C16.9124 5.4867 13.4107 1.98499 9.10667 1.98499Z' fill='white'/%3E%3Cpath d='M12.359 13.6939C12.1925 13.6939 12.0261 13.6303 11.8991 13.5032L5.39435 6.9985C5.1402 6.74435 5.1402 6.33276 5.39435 6.07875C5.64836 5.82473 6.06009 5.82459 6.3141 6.07875L12.8188 12.5834C13.073 12.8376 13.073 13.2492 12.8188 13.5032C12.6918 13.6303 12.5255 13.6939 12.359 13.6939Z' fill='white'/%3E%3Cpath d='M5.85416 13.6934C5.68769 13.6934 5.52136 13.6299 5.39435 13.5028C5.1402 13.2488 5.1402 12.837 5.39435 12.583L11.8991 6.07831C12.1532 5.82416 12.5648 5.82416 12.8188 6.07831C13.0728 6.33232 13.073 6.74405 12.8188 6.99806L6.3141 13.5028C6.1871 13.6299 6.02063 13.6934 5.85416 13.6934Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_337_3739'%3E%3Crect width='18.2133' height='18.2133' fill='white' transform='translate(0 0.684082)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        svg{
          visibility: hidden;
          width: 19px;
          height: 19px;
        }
      }
    }
    &__btn{
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: inherit;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 46px;
      @include media-breakpoint-up('l'){
        line-height: 46px;
      }
      svg{
        margin-left: 8px;
        @include media-breakpoint-up('l'){
          margin-left: 12px;
        }
      }
      &--default{
        border-color: #{$primary-color};
        color: #{$primary-color};
        &:hover{
          background: #{$primary-color};
          border-color: #{$primary-color};
          color: #fff;
          svg{
            path{
              fill: #fff;
            }
          }
        }
      }
      &--primary{
        background: #{$primary-color};
        &:hover{
          background: rgba($primary-color,.8);
        }
      }
    }
    &__txtSmall{
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      line-height: 1;
      margin-top: 8px;
      @include media-breakpoint-up('l'){
        margin-top: 12px;
      }
      display: inline-block;
    }
    &__input{
      background: #EEEEEE;
      border-radius: 4px;
      min-height: 48px;
      font-size: 14px;
      &::placeholder{
        color: rgba(0, 0, 0, 0.6);
      }
    }
    &__textarea{
      background: #F8F8F8;
      border-radius: 4px;
      font-size: 14px;
      &::placeholder{
        color: rgba(0, 0, 0, 0.4);
      }
    }
    &__legend{
      color: #2B9ED6;
      line-height: 1;
      //font-size: 24px;
      @include fluidx(24px,22px,font-size);
      font-weight: 600;
    }
    &__checkboxLabel{
      color: #000000;
      font-size: 16px;
      .uk-checkbox{
        background-color: #EEEEEE;
        border-color: #EEEEEE;
        border-radius: 2px;
        &:checked{
          background-color: #2B9ED6;
          border-color: #2B9ED6;
        }
      }
    }
    &__labelTxt{
      color: #2B9ED6;
      font-weight: 500;
      font-size: 16px;
      .uk-form-stacked &{
        @include media-breakpoint-up('l'){
          margin-bottom: 20px;
        }
      }
    }
    &__radio{

    }
    &__boxRadio{
      &__coverImg{
        border-radius: 4px;
        border: 3px solid transparent;
        position: relative;
        &:before{
          .home__sendPhoto__radio:checked + .home__sendPhoto__boxRadio &{
            z-index: 10;
            content: "";
            width: 21px;
            height: 21px;
            display: flex;
            position: absolute;
            top: 10px;
            right: 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10.4713' cy='11.0117' r='10.4023' fill='%232B9ED6'/%3E%3Cg clip-path='url(%23clip0_593_33196)'%3E%3Cpath d='M16.4226 6.81047C16.0363 6.42373 15.4092 6.42398 15.0225 6.81047L8.72099 13.1122L5.92026 10.3115C5.53353 9.92474 4.90664 9.92474 4.51991 10.3115C4.13318 10.6982 4.13318 11.3251 4.51991 11.7118L8.02067 15.2126C8.21391 15.4058 8.46731 15.5027 8.72072 15.5027C8.97414 15.5027 9.22778 15.4061 9.42102 15.2126L16.4226 8.2108C16.8093 7.82433 16.8093 7.19717 16.4226 6.81047Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_593_33196'%3E%3Crect width='12.4828' height='12.4828' fill='white' transform='translate(4.22986 4.77002)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
        .home__sendPhoto__radio:checked + .home__sendPhoto__boxRadio &{
          border-color: #2B9ED6;
        }
      }
      &__txt{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #262626;
        //font-size: 17px;
        line-height: 1;
        @include fluidx(17px,16px,font-size);
        .home__sendPhoto__radio:checked + .home__sendPhoto__boxRadio &{
          color: #2B9ED6;
        }
        svg{
          margin-left: 8px;
          @include media-breakpoint-up('l'){
            margin-left: 12px;
          }
        }
      }
    }
    &__btnSelect{
      background: #FAFAFA;
      line-height: 46px;
      border: 1px solid #2B9ED6;
      border-radius: 4px;
      text-transform: inherit;
      padding-left: 20px;
      color: #262626;
      font-weight: 500;
    }
  }
}