.single{
  &__title{
    color: #262626;
    line-height: 1.5;
    //font-size: 40px;
    @include fluidx(40px,33px,font-size);
    font-weight: 500;
  }
  &__card{
    &__title{
      @extend .home__sendPhoto__legend;
      font-weight: 500;
    }
    &__txtPrimary{
      color: #2B9ED6;
      font-size: 16px;
      line-height: 1;
    }
    &__txtSmall{
      color: #666666;
      line-height: 1.71;
      font-size: 14px;
    }
    &__label{
      color: #262626;
      line-height: 1;
      font-size: 16px;
      font-weight: 500;
    }
    &__radioLabel{
      color: #000000;
      font-size: 16px;
      .uk-radio{
        width: 20px;
        height: 20px;
        &:not(:checked){
          background-color: #EEEEEE;
          border-color: #EEEEEE;
        }
        &:checked{
          border-color: #2B9ED6;
          background-color: #EEEEEE;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='%232B9ED6'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__boxTotal{
      border-top: 10px solid #EEEEEE;
      padding-top: 11px;
      .order__content &{
        border-width: 1px;
      }
      &__txt{
        color: #000000;
        //font-size: 28px;
        @include fluidx(28px,24px,font-size);
        line-height: 1;
        font-weight: 500;
      }
      &__price{
        @extend .single__card__boxTotal__txt;
        color: #2B9ED6;
      }
    }
  }
  &__form{
    &__count{

    }
    &__input{
      border-radius: 8px;
      min-height: 48px;
      padding-left: 52px;
      padding-right: 52px;
    }
    &__icon{
      width: 32px;
      height: 32px;
      border-radius: 4px;
      --uk-position-margin-offset: 10px;
      margin: var(--uk-position-margin-offset);
      top: calc(50% - var(--uk-position-margin-offset));
      max-width: calc(100% - (var(--uk-position-margin-offset) * 2));
      background-repeat: no-repeat;
      background-position: center;
      &--add{
        background-color: #2B9ED6;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 13.7494C7.56844 13.7494 7.21875 13.3997 7.21875 12.9681V3.03188C7.21875 2.60031 7.56844 2.25063 8 2.25063C8.43156 2.25063 8.78125 2.60031 8.78125 3.03188V12.9681C8.78125 13.3997 8.43156 13.7494 8 13.7494Z' fill='white'/%3E%3Cpath d='M12.9681 8.78125H3.03186C2.6003 8.78125 2.25061 8.43156 2.25061 8C2.25061 7.56844 2.6003 7.21875 3.03186 7.21875H12.9681C13.3997 7.21875 13.7494 7.56844 13.7494 8C13.7494 8.43156 13.3997 8.78125 12.9681 8.78125Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      &--sub{
        background-color: #EFEFEF;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.959961 8.96003H15.0399C15.5702 8.96003 16 8.53022 16 7.9998C16 7.46951 15.5703 7.03971 15.0399 7.03971H0.959961C0.429802 7.03984 0 7.46964 0 7.99993C0 8.53022 0.429802 8.96003 0.959961 8.96003Z' fill='%23666666'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__card1{
    background: #EFEFEF;
    border-radius: 8px;
    &__title{
      color: #2B9ED6;
      font-size: 22px;
      line-height: 1;
      font-weight: 500;
    }
    &__txt{
      color: #363636;
      line-height: 1.71;
      font-size: 16px;
    }
    .uk-card-body{
      @include media-breakpoint-up('m'){
        padding: 20px;
      }
    }
  }
  &__card2{
    box-shadow: 0px 1.09429px 17.5086px rgba(0, 0, 0, 0.2);
    border-radius: 5.47143px;
    &__title{
      color: #262626;
      line-height: 1;
      font-size: 26px;
      @include fluidx(26px,22px,font-size);
      font-weight: 500;
    }
    .uk-card-header{
      border-color: rgba(217, 217, 217, 0.5);
    }
    &__rate{
      &__box1{
        padding-right: 50px;
        opacity: 1 !important;
      }
      &__percent{
        color: #262626;
        //font-size: 17px;
        @include fluidx(17px,15px,font-size);
        line-height: 1;
        left: calc(100% + 17px);
      }
      &__process{
        overflow: hidden;
        background: #FFFFFF;
        box-shadow: inset 0px 1.09429px 8.75429px rgba(0, 0, 0, 0.2);
        //height: 22px;
        @include fluidx(22px,15px,height);
        &:before{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background: #009306;
          border-radius: 500px;
          transition: width 1s ease-in-out;
          width: 0;
          .scroolspy &{
            width: var(--percent);
          }
        }
      }
      &__number{
        color: #262626;
        line-height: 1;
        font-size: 66px;
        font-weight: 600;
      }
      &__txtReview{
        color: rgba(0, 0, 0, 0.5);
        line-height: 1;
        font-size: 15px;
      }
      .fa{
        color: #cccccc;
      }
      &__fa{
        color: #FFC107 !important;
      }
    }
    &__comment{
      &__name{
        color: #262626;
        font-size: 17px;
        line-height: 1;
        font-weight: 500;
      }
      &__txt{
        color: rgba(0, 0, 0, 0.8);
        font-size: 15px;
        line-height: 1.71;
      }
      &__time{
        color: rgba(0, 0, 0, 0.4);
        font-size: 12px;
        line-height: 1;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 15px;
        padding-top: 15px;
        @include media-breakpoint-up('l'){
          padding-top: 20px;
          margin-top: 20px;
        }
        border-top: 1px solid rgba(217, 217, 217, 0.5);
      }
    }
  }
}