.video{
  &__left{
    &__title{
      color: #2B9ED6;
      line-height: 1;
      font-size: 27px;
      font-weight: 500;
    }
    &__txt{
      color: #363636;
      line-height: 1.75;
      font-size: 18px;
    }
    &__coverImg{
      border-radius: 10px;
      box-shadow: 0px 2.54961px 20.3968px rgba(0, 0, 0, 0.12);
    }
  }
  &__sidebar{
    &__box{
      background: #EFEFEF;
      border-radius: 4px;
      padding: 20px;
    }
    &__txt{
      color: #2B9ED6;
      font-size: 16px;
      line-height: 1;
    }
  }
  &__order{
    &__boxRight{
      background: #EEEEEE;
      border-radius: 4px;
      padding: 20px;
      &__txt1{
        color: #888888;
        font-size: 16px;
        font-weight: 500;
      }
      &__txt2{
        color: #262626;
        font-size: 16px;
      }
      &__select{
        background: #FAFAFA;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        line-height: 46px;
        text-transform: inherit;
        padding-left: 20px;
        text-align: left;
        color: #000000;
        font-size: 14px;
      }
    }
    &__divider{
      &__txt{
        color: #000000;
        font-size: 16px;
      }
      background-image: none;
      margin-bottom: 0;
      &:before,&:after{
        .sign_in__card &{

        }
        &:not(.sign_in__card) &{
          max-width: calc(35% - (50px / 2));
        }
      }
    }
  }
}