.virtualrenovation{
  &__box{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_156_1232)'%3E%3Cpath d='M12 0C5.38293 0 0 5.38293 0 12C0 18.6171 5.38293 24 12 24C18.6171 24 24 18.6171 24 12C24 5.38293 18.6171 0 12 0Z' fill='%232196F3'/%3E%3Cpath d='M18.0823 9.45703L11.5822 15.9569C11.3872 16.1519 11.1312 16.2501 10.8752 16.2501C10.6193 16.2501 10.3633 16.1519 10.1683 15.9569L6.91833 12.707C6.52722 12.316 6.52722 11.684 6.91833 11.293C7.30927 10.9019 7.94116 10.9019 8.33228 11.293L10.8752 13.836L16.6683 8.04309C17.0593 7.65198 17.6912 7.65198 18.0823 8.04309C18.4732 8.43402 18.4732 9.06592 18.0823 9.45703Z' fill='%23FAFAFA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_156_1232'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 32px;
    &__txt1{
      color: #2B9ED6;
      line-height: 1;
      font-size: 20px;
      @include fluidx(20px,17px,font-size);
      font-weight: 500;
    }
    &__txt2{
      color: rgba(38, 38, 38, 0.6);
      line-height: 1.71;
      font-size: 14px;
    }
  }
  &__title1{
    //font-size: 40px;
    @include fluidx(40px,33px,font-size);
    font-weight: 600;
    line-height: 1.5;
    color: #262626;
    div{
      color: #10AA32;
    }
  }
  &__title{
    color: #2B9ED6;
    text-transform: uppercase;
    //font-size: 24px;
    @include fluidx(24px,21px,font-size);
    font-weight: 600;
    position: relative;
    //padding-bottom: 28px;
    @include fluidx(28px,21px,padding-bottom);
    line-height: 1;
    &:after{
      content: "";
      position: absolute;
      width: 120px;
      height: 2px;
      left: 0;
      bottom: 0;
      display: flex;
      background: #363636;
    }
  }
  &__table{
    border-radius: 4px;
    tr{
      td,th{
        border: 1px solid #B9B9B9;
      }
      th{
        text-transform: inherit;
        font-size: 12px;
        background: #2B9ED6;
        color: #fff;
        font-weight: 600;
        border-color: #2B9ED6;
        &:nth-child(n+2){
          border-left-color: #B9B9B9 !important;
        }
      }
      td{
        font-size: 14px;
        color: #000000;
        line-height: 1.43;
        &:first-child{

        }
        &:last-child{
          font-weight: 600;
          color: #10AA32;
        }
      }
    }
  }
}