.header{
  &.uk-active{
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.12);
    &.uk-sticky-below{

    }
  }
  &__dc1{
    color: #262626;
    text-transform: inherit;
    font-weight: 500;
    font-size: 16px;
    font-family: $font-primary;
  }
  &__top{
    background: #45A8D9;
    &__navItem{
      min-height: 68px;
    }
    .uk-navbar-toggle,
    .uk-navbar-item{
      @extend .header__top__navItem;
    }
    .uk-navbar-nav{
      >li{
        &:first-child{
          >a{
            color: #CF1313;
          }
        }
        >a{
          @extend .header__top__navItem;
          @extend .header__dc1;
        }
      }
    }
    &__link{
      @extend .header__dc1;
    }
    &__btn{
      line-height: 46px;
      background: #EEEEEE;
      box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
      text-transform: inherit;
      @extend .header__dc1;
      color: #2B9ED6 !important;
      &:hover{
        background: rgba(#EEEEEE,.9);
      }
    }
  }
  &__bottom{
    //background: #FFFFFF;
    &__navItem{
      min-height: 38px;
    }
    .uk-navbar-nav{
      gap: 0;
      >li{
        >a{
          @extend .header__bottom__navItem;
          @extend .header__dc1;
          padding: 0 16px;
          &[aria-expanded='true'],
          &:hover{
            color: #fff;
            background-color: #45A8D9;
          }
        }
      }
    }
  }
}