.item{
  $x:20;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:16;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:15;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:10;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:8;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:6;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }

  $max:140;
  $min:70;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:120;
  $min:60;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:89;
  $min:40;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:80;
  $min:40;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:60;
  $min:30;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:44;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:40;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:32;
  $min:16;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:20;
  $min:15;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:20;
  $min:10;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
}